th, td{
    padding: 5px;
}
.table1{
    margin: 80px 20px;
}
#table3{
    margin: 30px 50px 70px
}
#table4{
    margin: 50px 60px 70px 80px;
}
#table5{
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 80px;
}